* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header {
    display:flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li:hover .men-menu {
    display: block;
}
.menu > li {
    padding: 0 20px;
    position: relative;
    top: 6px;
}
.menu > li:hover .men-menu{
    visibility: visible;
    top:30px;
}
.men-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50;
    transition: 0.01s;
}
.men-menu ul {
    padding-left: 20px;
}
.men-menu li ul a{
   font-weight: normal;
   font-size: 12px!important;
}
.menu li a{
    font-size: 14px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;

}
.others{
    flex: 1;
    display: flex;
}
.others > li {
    padding: 0 12px;
}
.others > li:first-child{
   position: relative;
}
.others > li:first-child input{
   width:70px;
   border: none;
   border-bottom: 1px solid #333;
}
.others > li:first-child i{
    position: absolute;
    right: 10px;
}